<p class="lead">
	{{burger_name}}
	<span class="float-right">
		<button class="change-devoured btn btn-secondary text-right" data-id="{{id}}" data-newdevoured="{{devoured}}">
			{{#if devoured}}DEVOUR!{{else}}REMAKE!{{/if}}
		</button>
	</span>
</p>